.nav {
   grid-area: n;
   background-color:chartreuse;
   padding: 20px;
   margin-bottom: 5px;
}

.item a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.item a.active{
    color: black;
}