.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

a{
    color: white;
    text-decoration: none;
}

.dialogsItems {
    padding: 10px;
    
}

.dialogsItems .active{
    color: gold;
}

.messages{
    padding: 10px;
    color: white;
}

